div[class="enrollmentList"] {
    text-align: center;
    color: #004080;
}

div [class="enrollmentList"] div {
    color: #000000;
    text-align: center;
    padding: 20px;
    margin: 0 15px 10px 0;
    background-color: #e6f2ff;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

div[class="enrollmentList"] button {
    background-color: #821b1b;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
